.facttile {
  display: flex;
  background: rgb(18, 32, 48);
  border: 2px solid #fff;
}

.header {
  background: rgb(109, 100, 50);
  color: blue;
  justify-content: center;
  align-content: center;
}

hr {
  width: 20%;
}
